html, body{
  height: 100%;
}

.page-header {
  border-bottom: 1px solid black;
}

h4{
  padding-bottom: 15px
}

.list-group-item {
  margin-top: 10px;
  margin-left: 5px;
  background-color: transparent;
  border-top: 0 none;
  border-right: 0 none;
  border-left: 0 none;
  font-family: sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.list-group-item .lead {
  font-size: 18px
}

.list-group-item-last {
  border-bottom: 0 none;
}

.carousel-inner img {
  margin: auto;
  height: 400px;
}

#timer {
  background-color: rgba(255, 0, 0, 0.2);;
  border-radius: 50%;
  background-blend-mode: lighten
}

#demo {
  color: red;
}

.row #header{
  margin-top: 5px
}

.blinking{
    animation:blinkingText 2.0s infinite;
}

@keyframes blinkingText{
    0%{     color: #000000;    }
    50%{    color: transparent; }
    100%{   color: #000000;    }
}

#address{
  font-size: 14;
}
